.dialog {
  background-color: var(--lowui-modal-backgroundColor);
  opacity: 0;
  overflow: hidden;
  margin: auto;
  padding: 0;
  position: fixed;
  inset: 0;
  box-shadow: var(--lowui-modal-dialogShadow);

  @media (--lte-largephone) {
    margin-block-start: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  @media (--gt-largephone) {
    max-inline-size: min(90vw, 60ch);
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    border-radius: 6px;
  }
}

.enter {
  opacity: 0;
  transform: scale(0.9);
}
.enterActive,
.enterDone {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.exit {
  opacity: 1;
  transform: translateY(0);
}
.exitActive {
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 300ms, transform 200ms;
}

.body {
  overflow: hidden;
}
