.dialog {
  background-color: var(--lowui-modal-backgroundColor);
  transform: scale(0.9);
  opacity: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  flex-shrink: 1;
  max-height: 100%;
  min-height: 150px;

  @media (--lte-largephone) {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (--gt-largephone) {
    box-shadow: var(--lowui-modal-dialogShadow);
    max-width: 600px;
    min-width: 320px;
    border-radius: 5px;
  }
}

.verticalPad {
  box-flex: 1;
  flex-grow: 1;
  display: block;
  height: 2em;

  @media (--gte-desktop) {
    height: 3em;
  }

  @media (--lte-largephone) {
    display: none;
  }
}

.body {
  overflow: hidden;
}

.enter {
  opacity: 0;
  transform: translateY(100%);

  @media (--gt-largephone) {
    transform: scale(0.9);
  }
}
.enterActive,
.enterDone {
  opacity: 1;
  transform: translateY(0);

  @media (--gt-largephone) {
    transform: scale(1);
  }

  transition:
    opacity 300ms,
    transform 300ms;
}

.exit {
  opacity: 1;
  transform: translateY(0);
}
.exitActive {
  opacity: 0;
  transform: translateY(10%);
  transition:
    opacity 300ms,
    transform 200ms;

  @media (--gt-largephone) {
    transform: translateY(-10%);
  }
}
