:root {
  --lowui-sheet-bgColor: #f7f7f7;
  --lowui-sheet-header-bgColor: white;
  --lowui-sheet-header-borderColor: #ebebeb;
  --lowui-sheet-header-titleColor: #48334e;
  --lowui-sheet-header-subTitleColor: #6e6362;
}

.container {
  opacity: 0;
  position: fixed;
  z-index: 199;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
}

.body {
  padding: 20px;
  max-width: 800px;

  @media (min-width: 426px) {
    padding: 30px;
  }
}

.window {
  overflow: hidden;
}

.base {
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2), 0 0 24px 2px rgba(0, 0, 0, 0.14),
    0 0 30px 5px rgba(0, 0, 0, 0.12);
  transition: transform 250ms ease-in-out 0s;
  background-color: var(--lowui-sheet-bgColor);
  bottom: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  margin-top: 20px;
}

.autoBase {
  transform: translate(0, 100%);
  right: 0;

  @media (min-width: 769px) {
    max-width: 90%;
    margin-top: 0;
    transform: translate(100%, 0px);
  }

  @media (min-width: 1025px) {
    max-width: 75%;
  }
}

.bottomBase {
  transform: translate(0, 100%);
}

.leftBase {
  transform: translateX(-100%);
  max-width: 95%;
  margin-top: 0;
  left: 0;

  @media (min-width: 769px) {
    max-width: 90%;
  }

  @media (min-width: 1025px) {
    max-width: 75%;
  }
}

.rightBase {
  transform: translate(100%, 0px);
  max-width: 95%;
  margin-top: 0;
  right: 0;

  @media (min-width: 769px) {
    max-width: 90%;
  }

  @media (min-width: 1025px) {
    max-width: 75%;
  }
}

.enter {
  opacity: 0;
}

.autoEnterActive,
.autoEnterDone {
  opacity: 1;

  > section {
    transform: translate(0, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    @media (min-width: 769px) {
      border-radius: 0;
    }
  }
}
.autoExit {
  opacity: 1;
  transition: opacity 400ms;

  > section {
    transform: translate(0, 100%);

    @media (min-width: 769px) {
      transform: translate(100%, 0);
    }
  }
}

.bottomEnterActive,
.bottomEnterDone {
  opacity: 1;

  > section {
    transform: translate(0, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.bottomExit {
  opacity: 1;
  transition: opacity 400ms;

  > section {
    transform: translate(0, 100%);
  }
}

.leftEnterActive,
.leftEnterDone {
  opacity: 1;

  > section {
    transform: translateX(0);
  }
}
.leftExit {
  opacity: 1;
  transition: opacity 400ms;

  > section {
    transform: translateX(-100%);
  }
}

.rightEnterActive,
.rightEnterDone {
  opacity: 1;

  > section {
    transform: translate(0, 0);
  }
}
.rightExit {
  opacity: 1;
  transition: opacity 400ms;

  > section {
    transform: translate(100%, 0);
  }
}

.exitActive,
.exitDone {
  opacity: 0;
}

.disabled,
.disabledLoading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  cursor: not-allowed;
}

.disabledLoading {
  cursor: progress;
}

.header {
  padding: 6px 10px 4px;
  background: var(--lowui-sheet-header-bgColor);
  border-bottom: 1px solid var(--lowui-sheet-header-borderColor);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9;
  min-height: 41px;

  @media (max-width: 425px) {
    justify-content: space-between;
  }

  @media (min-width: 426px) {
    padding: 10px 30px 10px 22px;
    min-height: 57px;
  }

  & h2 {
    margin: 2px 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--lowui-sheet-header-titleColor);
    text-align: center;
    line-height: 1em;

    @media (min-width: 426px) {
      text-align: left;
      flex: 1;
      margin: 0 0 0 15px;
      font-size: 20px;
    }

    & small {
      display: block;
      color: var(--lowui-sheet-header-subTitleColor);

      @media (min-width: 426px) {
        margin-left: 8px;
        display: inline;
      }
    }
  }
}

.headerCloseButton {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  vertical-align: text-top;
  text-align: center;
  align-items: center;

  @media (max-width: 424px) {
    width: 30px;
    height: 30px;
  }

  & svg {
    height: 1.4em;
    width: 1.4em;
  }
}

.headerChildren {
  display: flex;
  align-items: center;

  & i {
    --icon-size: 1.2em;
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 0;
    color: var(--lowui-mixin-loader-color, #722a88);
    width: 38px;
    height: 38px;

    > div {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      float: none;
      background-color: currentColor;
      border: 0 solid currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      background: transparent;
      border-style: solid;
      border-width: 3px;
      border-radius: 100%;
      animation: multi-twisting-ball 1s ease-in-out infinite;

      &:first-child {
        position: absolute;
        width: 38px;
        height: 38px;
        border-right-color: transparent;
        border-left-color: transparent;
      }

      &:last-child {
        width: 18px;
        height: 18px;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation-duration: 0.5s;
        animation-direction: reverse;
      }
    }
  }
}

.headerLoading {
  > div {
    width: 24px;
    height: 24px;

    > div {
      border-width: 2px;

      &:first-child {
        width: 24px;
        height: 24px;
      }

      &:last-child {
        width: 14px;
        height: 14px;
      }
    }
  }
}

@keyframes multi-twisting-ball {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
